/*--========================================================== */
                        /*VARIABLES*/
/*--========================================================== */

$myFont: 'Poppins', sans-serif;
$fontColor: #ffffff;
$mainColor: #ff523b;
$backColor: #24262b;
$speed: 0.5s;