*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*--========================================================== */
                        /*BODY*/
/*--========================================================== */

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/products/black_wall3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/*--========================================================== */
                        /*BUTTONS*/
/*--========================================================== */
.Xbtn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.5s;
}

/*--========================================================== */
                        /*TITTLES*/
/*--========================================================== */

/*--========================================================== */
                        /*HEADER*/
/*--========================================================== */

.Xlogo img{
    width: 100px;
}

.Xheader .Xrow{
    margin-top: 70px;
}

.Xnavbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right; 
    z-index: 1;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    /*color: #555;*/
    color:white;
    padding: 5px;
}

nav li a:hover{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #ff523b;
    cursor: pointer;
    transition: .5s;
}

li a.Xactive{
    background: #ff523b;
    transition: .5s;
    padding: 10px 16px;
}

.Xcart:hover{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #ff523b;
    cursor: pointer;
    transition: .5s;
}

.Xcheckbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.Xcheckbtn img{
    width: 50px;
    height: 50px;
} 

#Xcheck{
    display: none;
}



/*--========================================================== */
                        /*INDEX*/
/*--========================================================== */
.Xcontainer{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.Xrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Xcol-2{
    flex-basis: 50%;
    min-width: 300px;
}

.Xcol-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.Xcol-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color:white;
}



.Xbtn:hover{
    background: #563434;
}


.Xcategories{
    margin: 70px 0;
}

.Xcol-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.Xcol-3 img{
    width: 100%;
}

.Xsmall-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.Xcol-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    /*transition: transform 0.5s;*/
}

.Xcol-4:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(-10px);
}

.Xcol-4 img{
    width: 100%;
}

.Xsmall-container h2{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    /*color: #555;*/
    color:white;
}

.Xsmall-container h2::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


h4{
    /*color: #555;*/
    color:#ddd0d0;
    font-weight: normal;
}

.Xcol-4 p{
    font-size: 14px;
}

.Xbrands{
    margin:100px;
}

.Xcol-5{
    width: 100px;
}

.Xcol-5 img{
    width: 100%;
    cursor: pointer;
}

/*--========================================================== */
                        /*PRODUCTS*/
/*--========================================================== */
.Xrow-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

.Xbanner{
    width: 100%;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

page-btn{
    margin:0 auto 80px;
}

.Xpage-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    margin-bottom: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.Xpage-btn span:hover{
    background: #ff5b46;
}



/*--========================================================== */
                        /*ACCOUNT*/
/*--========================================================== */

.Xaccount-page {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.Xaccount-page h1{
    padding: 5px;
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 30px;
    color:white;
}

.Xaccount-page h1::after{
    content: '';
    background: #ff523b;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.Xform-container{
    background: #24262b;
    width: 300px;
    height: 350px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

.Xform-container label{
    font-weight: bold;
    padding: 0 10px;
    color: white;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.Xform-container form{
    max-width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 100px
}

.Xform-container form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.Xform-container form .Xbtn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.Xform-container form .Xbtn:focus{
    outline: none;
}

.Xform-btn{
    display: inline-block;
}

.Xform-container form a{
    font-size: 12px;
}


.Xhrbottom{
    width: 50%;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(110%);
    transition: .5s;
}

.Xlogin{
    left:-300px;
    visibility:hidden;
}

.Xlogin a{
    font-weight: bold;
    color: #ff523b;
}

.Xregister{
    left: 0;
}


#Xtoggle{
    display: none;
}

#Xtoggle:checked ~ .Xlogin {
    left: 0;
    visibility:visible;
}

#Xtoggle:checked ~ .Xregister {
    left: -300px;
    visibility:hidden;
}

#Xtoggle:checked ~ .Xform-btn .Xhrbottom {
    transform: translateX(-10%)
}

/*--========================================================== */
                        /*CONTACTS*/
/*--========================================================== */
.Xcontent {
    /*max-width: 1080px;*/
    max-width: 600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.Xclogo h1{
    padding: 5px;
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 30px;
    color:white;
}

.Xclogo h1::after{
    content: '';
    background: #ff523b;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.Xcontact-wrapper > * {
    padding: 1em;
    width: 100%;
}

.Xcontact-form {
    background: #24262b;
}

.Xcontact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Xcontact-form form label {
    display: block;
}

.Xcontact-form form p {
    margin: 0;
    padding: 1em;
}

.Xcontact-form form .block {
    grid-column: 1 / 3;
}

.Xcontact-form form button, 
.Xcontact-form form input, 
.Xcontact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: white;
    border-bottom: 1px solid #ff523b;
}

.Xcontact-form form button {
    background: #ff523b;
    border: 0;
    padding: 1em;
}

/*--========================================================== */
                        /*ABOUT*/
/*--========================================================== */
.Xabout-container{
    max-width: 800px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    align-items: center;
}

.Xabout-container h1{
    padding: 5px;
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 30px;
    color:white;
}

.Xabout-container h1::after{
    content: '';
    background: #ff523b;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.Xabout-container img{
    width: 100%;
    padding: 10px;
}

/*--========================================================== */
                        /*FOOTER*/
/*--========================================================== */
.Xfcontainer{
	max-width: 1170px;
	margin:auto;
}
.Xfrow{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.Xfooter{
	background-color: #24262b;
    padding: 70px 0;
}
.Xfcol{
    width: 25%;
    padding: 0 15px;
}
.Xfcol h4{
	font-size: 18px;
	color: white;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.Xfcol h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:  #ff523b;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.Xfcol ul li:not(:last-child){
	margin-bottom: 10px;
}
.Xfcol ul li a{
	font-size: 16px;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
}
.Xfcol ul li a:hover{
	color: white;
	padding-left: 8px;
}
.Xfcol .Xfcontact img{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.Xfcol .Xfcontact img:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: translateX(5px);
}

/*--========================================================== */
                        /*RESPONSIVE*/
/*--========================================================== */

@media only screen and (max-width: 800px){
    /*navbar*/
    .Xcheckbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #24262b;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    .Xcart img{
        height: 50px;
    }

    li a:hover, li a.Xactive{
        background: none;
        color: #ff523b;
    }
    #Xcheck:checked ~ ul{
        left:0;
    }
    .Xcol-2 img{
        padding:10px;
    }

    .Xcontact-wrapper {
        display: grid;
        gap: 5px;
        grid-template-columns: auto;
    }

    .Xcontact-wrapper > * {
        padding: 2em;
    }

    .Xfcol{
        width: 50%;
        margin-bottom: 30px;
    }
} 

@media only screen and (max-width: 600px){
    .Xrow{
        text-align: center;
    }

    .Xcol-2,
    .Xcol-4{
        flex-basis: 50%;
    }
    .Xcol-3{
        flex-basis: 33%;
    }

    .Xcontact-form h3{
        font-size: 20px;
    }

    .Xcontact-form form p {
        font-size: 12px;
    }

    .Xcontact-form form .Xblock, 
    .Xcontact-form form p {
        grid-column: 1 / 3;
    }

    .Xfcol{
        width: 100%;
    }
}


/*--========================================================== */
                        /*BOOTSTRAP*/
/*--========================================================== */

.navbar{
    margin-top: 70px;
    margin-bottom: 10px;
    color: white;
}

.collapse{
    float: right;
    color: white;
}

.carousel{
    padding: 20px;
}
